include ./partials/config.pug
include ./partials/mixins.pug
doctype html
html(lang="en")
  head
    title=talk_title
    meta(name="description" content=talk_description)
    meta(name="author" content=talk_author)
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', type='text/css', href='./main.css')
    link(rel='shortcut icon', href='./favicon.ico')
    <!--[if lt IE 9]>
      script(src='./js/html5shiv.js')
    <![endif]-->
  body
    .reveal
      .slides.near-white

        section
          .fcn
            .fa.fc.pa1
              .dotcss
            .fa.h1

        section
          .fcn.h-top
            .fa.fc
              pre.bg-near-black.pa2.f4
                code.language-html
                 |&lt;div class="dotcss"&gt;&lt;/div&gt;

        // Background
        section
          .fcn
            .fn.fc.h-top.pa1
              .dotcss-background
            .fa.fc.pt2.h-bottom
              pre.bg-near-black.pa2.f3
                code.language-css
                  |width: 1000px;
                  |height: 450px;
                  |background-color: #1D1A16;

        // Main circle
        section
          .fcn
            .fn.fc.pa1.h-top
              .dotcss-background.dotcss-main-circle
            .fa.fc.pt2.h-bottom
              .bg-near-black.pa2.hack.f4
                div &:before {
                .frn
                  .fa.w-50.ml3
                    pre
                      code.language-scss
                        | content:"";
                        | height: 300px;
                        | width: 300px;
                        | border-radius: 50%;
                  .fa.w-50.ml3
                    pre
                      code.language-scss
                        | background: #F9DF1C;
                        | position: absolute;
                        | left: 60px;
                        | top: 40px;
                div }

        // Background circle simple example
        section
          .fcn
            .fn.fc.pa1.h-top
              .dotcss-background.dotcss-main-circle.dotcss-background-circle-simple
            .fn.fc.h-top.f6.pt2.h-bottom
              pre.bg-near-black.pa2.f4
                code.language-scss
                  |&:before {
                  |   box-shadow: -193px -173px 0px -142px red,
                  |                700px -100px 0px  100px blue,
                  |                300px   75px 0px -100px green;
                  |}

        // Background circles
        section
          .fcn
            .fn.fc.pa1.h-top
              .dotcss-background.dotcss-main-circle.dotcss-background-circles
            .fn.fc.h-top.pt2.h-bottom.f6
              pre.bg-near-black.pa1
                code.language-scss
                  |$circles: ();
                  |@for $y from 0 to 20 {
                  |  @for $x from 0 to 45 {
                  |    $left: (-193px + ($x * 22px));
                  |    $top: (-173px + ($y * 22px));
                  |    $circles: append($circles, ($left) ($top) 0px (-142px) #000000, comma);
                  |  }
                  |}
                  |box-shadow: $circles;

        // Game of life
        section
          .fcn
            .fn.fc.pa1.h-top
              .dotcss-background.dotcss-main-circle.dotcss-background-circles.dotcss-gol
            .fn.fc.h-top.f6.pt2.h-bottom
              pre.bg-near-black.pa2.f4
                code.language-scss
                  |box-shadow: 247px 135px 0px -142px #F9DF1C,
                  |             269px 157px 0px -142px #F9DF1C,
                  |             […],
                  |             599px 157px 0px -142px #F9DF1C,
                  |             555px 179px 0px -142px #F9DF1C,
                  |             577px 179px 0px -142px #F9DF1C;

        // Text (easy)
        section
          .fcn
            .fn.fc.pa1.h-top
              .dotcss-background.dotcss-main-circle.dotcss-background-circles.dotcss-gol.dotcss-text-easy
            .fn.fc.h-top.pt2.h-bottom
              .bg-near-black.pa2.hack.f4
                .frn
                  .fa.w-50.ml1
                    pre
                      code.language-scss
                        | &:before {
                        |   content:"dot";
                        |   color: black;
                        |   text-align: center;
                        |   line-height: 300px;
                        | }
                  .fa.w-50.ml3
                    pre
                      code.language-scss
                        | &:after {
                        |   content:"CSS";
                        |   color: white;
                        |   position: absolute;
                        |   top: 40px;
                        |   left: 375px;
                        | }

        // Text (Hard)
        section
          .fcn
            .fn.fc.pa1.h-top
              // .dotcss-background.dotcss-main-circle.dotcss-background-circles.dotcss-gol.dotcss-text-hard.visible
              .dotcss-background.dotcss-main-circle.dotcss-background-circles.dotcss-gol.dotcss-text-hard.visible
            .fn.fc.h-top.pt2.h-bottom
              .bg-near-black.pa2.hack.mt3.f4
                .frn
                  .fa.ml3
                    pre
                      code.language-scss
                        |&:before {
                        |  content: "dot\A CSS";
                        |  white-space: pre;
                        |  color: transparent;
                        |  text-shadow: 
                        |    315px -300px 0px white;
                        |}
                  .fa.ml3
                    pre
                      code.language-scss
                        |&:first-line {
                        |  color: black;
                        |  font-size: 100px;
                        |  line-height: 300px;
                        |  text-shadow: none;
                        |}

        section
          .fcn
            .fa.fc.pa1.h-top
              .dotcss
            .fa.h-top.fcn.pt2.h-bottom
              .fa.gold.b.fc.f2 Thank you
              a.fa.link.white.f3.fc(href='https://github.com/pixelastic/dotcss-onediv') github.com/pixelastic/dotcss-onediv
              .fa.frn.fc.f2
                .fa.tc @pixelastic
                .fa.tc.lh-0
                  img.h2(src='./img/algolia.png', alt='Algolia')




  script(src='./js/head.min.js')
  script(src='./js/reveal.js')
  script(src='./app.js')
  script require('javascripts/app').default.init()

